main {
  width: 100%;
  background-color: rgb( 45, 45, 45 );
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-photos-text-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.main-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 12px;
    font-family: "Lato";
    color: rgb( 112, 112, 112 );
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}
.main-photos-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: self-start;
}
.photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.img {
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.img:hover {opacity: 0.7;}
.name {
  width: 100%;
  height: 20%;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Lato";
  color: #2D2D2D;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
}

#img1 {
  background-image: url('../img/foto1.jpg');
}
//#img01 {
//  background-image: url('http://68.media.tumblr.com/566ab861f58d611ab3d7b9dcacecccd0/tumblr_okva7fxR5J1u4sioio1_500.jpg');
//}

#img2 {
  background-image:  url('../img/foto2.jpg');
}
#img3 {
  background-image:  url('../img/foto3.jpg');
}
#img4 {
  background-image:  url('../img/foto4.jpg');
}
#img5 {
  background-image:  url('../img/foto5.jpg');
}
#img6 {
  background-image: url('../img/foto6.jpg');
}
#img7 {
  background-image: url('../img/foto7.jpg');
}
#img8 {
  background-image: url('../img/foto8.jpg');
}
#name1 {

}
