main {
  width: 100%;
  background-color: #2d2d2d;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-photos-text-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.main-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-text-container h1 {
  font-size: 12px;
  font-family: "Lato";
  color: #707070;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.main-photos-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: self-start;
}
.photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.img {
  background-image: url('http://68.media.tumblr.com/566ab861f58d611ab3d7b9dcacecccd0/tumblr_okva7fxR5J1u4sioio1_500.jpg');
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.name {
  width: 100%;
  height: 20%;
  background-color: #ffffff;
}
