/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v9-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat-Regular'), url('../fonts/montserrat-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v9-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v9-latin-regular.svg#Montserrat') format('svg');
  /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v11-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lato-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/lato-v11-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato-v11-latin-regular.svg#Lato') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Viner Hand ITC';
  font-style: normal;
  font-weight: 400;
  src: local('VinerHandITC'), url('../fonts/VinerHandITC.ttf') format('ttf');
}
